<!-- main app container -->
<main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 logo"><img src="assets/images/logo.png" alt="" width="250px"/></div>
            </div>

            <div class="row">
                <div class="col-sm-12 white-bg">
                        <alert></alert>
                        <router-outlet></router-outlet>
                </div>
            </div>
    </div>
</main>

<!-- credits -->


    <footer>&copy; 2017, Allrights reserved.</footer>
